header{
    background-color: #800000;
    
}

body{
    background-color: #474745;
}

.menu{
    font-size: 30px;
    color: black;
    display: inline-flex;
    justify-content: center; 
    text-decoration: none;
    
}

.image{
    width: 50px;
    height: 50px;
    margin-right: 40px;
    margin-left: 20px;
}

a{
    color: white;
    text-decoration-line: none;
    margin-right: 40px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px black;
   
    
}

a:hover{
    color: black;

}
footer{
    background-color: #800000;
}

.address{
    display: inline-block;
    margin-left: 800px;
  }

  .contacts{
  display: inline-block;
}

h6{
    color: grey;
    margin-bottom: 8px;
    padding-top: 8px;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 1px;
    margin-top: 3px;
    
}
h3{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-weight: bold;
    padding-top: 5px;
    
}

.image-trainer1{
    width: 170px;
    height: 200px;
    margin-bottom: 15px;
}

.image-trainer2{
    width: 165px;
    height: 200px;
    margin-bottom: 15px;
}

.image-trainer3{
    width: 190px;
    height: 200px;
    margin-bottom: 15px;
}


.image-trainer4{
    width: 180px;
    height: 200px;
    margin-bottom: 15px;
}

.image-trainer5{
    width: 190px;
    height: 200px;
    margin-bottom: 15px;
}




.image-container {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 20px;
    background: linear-gradient(to right, rgb(33, 32, 32), rgb(61, 61, 61), rgb(151, 150, 150));
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
}
  .name{
        font-family: fantasy;
        font-size: 60px;
        color: black;
        margin-top: 0px;
        text-align: center;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px #888;
        margin-bottom: 5px;
        
    }

    .cards-container{
        display: flex;
        margin-left: 80px;
        flex-wrap: wrap;
    }



.trainer-two{
    display: flex;
    margin-left: 80px;
}

figure{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(73, 72, 72, 0.4);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; 
    
}

hr{
    margin-bottom: 40px;
    margin-top: 20pxpx;      
}

.image-trainer1:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    
}

.image-trainer2:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    
}
.image-trainer3:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    
}

.image-trainer4:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    
}

.image-trainer5:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    
}

.information{
    font-size: 20px;
    text-transform: none;
    text-align: center;
    font-weight: normal;
    color: #888;
    font-family: fangsong;
    letter-spacing: 2px;
    animation: colorChange 3s infinite;
    margin-top: 70px;
}


.information-trainer{
    text-align: center;
    color: #6d6d6d;
    font-family: fangsong;
}

.details{
    text-align: center;
    color:#494949;
    font-family: fangsong;
    margin-top: 10px;
    text-shadow: b;
    
}
.information-trainer-name{
    text-align: center;
    color: #b5b5b5;
    font-family: fangsong;
    
}

.popup {
    position:fixed;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9); /* Темний фон з прозорістю */
    color: white;
    padding: 15px;
    border-radius: 8px;
    display: none; /* Сховано за замовчуванням */
    z-index: 10;
    width: 180px; /* Ширина вікна */
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    
  }


  .name2{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    margin-top: 0px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #888;
    margin-bottom: 15px;
    margin-top: 80px;
}

.specialists{
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
    
}

p{
    text-align: center;  
    margin-top: 10px;
    color: #9c9c9c;

}
.trainer-information{
    text-align: center;  
    margin-top: 1px;
    color: #9c9c9c;

}

.close-btn{
    color: #800000;
    text-align: center;
}

.text-item{
    text-align: center;
    color:#9c9b9b;
    font-family: fangsong;
    margin-top: 10px;
    margin-bottom: 20px;
}

.trainerDescription {
    text-align: center;
    color: #6d6d6d;
    font-family: fangsong;
    width: 200px;
    word-break: break-all;
}













